<1.10.2021> - <1.10.2021> было проведено white box testing
На тестирование затрачено: <1 час>

В результате тестирования выявлены следующие дефекты:

https://github.com/NailyaDzha/JavaHW1_program/issues/1

Описание процесса тестирования

В процессе тестирования использовались следующие артефакты:

Intellij Idea community edition

В качестве тестовых данных использовались данные:

https://github.com/netology-code/javaqa-homeworks/blob/master/intro/MERGED.md

Тестирование производилось в следующем окружении:

Windows 10, 64 bit
Java Version JDK 11.0.12